@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap);

/*------------------------------------*\
  #COLORS
\*------------------------------------*/

.bg-color-white {
  background-color: #fff;
}

.bg-color-black {
  background-color: #000;
}

.section-background-color {
  background-color: #fbfbfd;
}

/*------------------------------------*\
  #GLOBAL SETTINGS
\*------------------------------------*/

* {
  font-family: "Source Sans Pro", sans-serif, arial;
}

/*------------------------------------*\
  #INDEX.HTML
\*------------------------------------*/

.header-index,
.header-work,
.header-company,
.header-contact {
  position: relative;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.header-video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 1;
}

.header-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
           transform: translateX(-50%) translateY(-50%);
       -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
   -webkit-transform: translateX(-50%) translateY(-50%);
}

.video-container {
  position: relative;
  z-index: 2;
}

.btn-header {
  color: #1a1919;
  background-color: #ebf65c;
  border-color: #aab510;
}

.btn-header:hover,
.btn-header:focus,
.btn-header:active,
.btn-header.active {
  color: #1a1919;
  background-color: #a0aa1d;
  border-color: #aab510;
}

/*INDEX.HTML - SERVICES-----------------*/

.service {
  text-align: center;
}

.services-section-text {
  color: gray;
}
.services-heading-text {
  color: #372a36;
}

/*INDEX.HTML - PROCESS-----------------*/

.timeline {
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
  list-style: none;
}

.timeline::before {
  position: absolute;
  content: "";
  width: 2px;
  background-color: lightgray;
  top: 0;
  bottom: 0;
  left: 0;
}

.timeline-circle {
  position: absolute;
  left: 0;
  top: 4px;
  width: 20px;
  height: 20px;
  margin-left: -50px;
  background-color: #df3939;
  border: 3px solid #a3ca87;
  border-radius: 50%;
}

.timeline-badge {
  position: absolute;
  left: 0;
  width: 150px;
  height: 150px;
  margin-left: -250px;
}

.timeline-badge-final {
  position: absolute;
  left: -90px;
  width: 150px;
  height: 150px;
}

.timeline-item {
  position: relative;
  height: 260px;
}

.process-item {
  padding-left: 10px;
  padding-right: 10px;
}

.process-section-text {
  color: #372a36;
}

.process-header {
  color: #df3939;
}

.process-text {
  font-size: 1.3rem;
}

/*INDEX.HTML - TESTIMONIAL-----------------*/

.section-break {
  height: 150px;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
  color: black;
}

.carousel-item {
  height: 28rem;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.carousel-image {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

/*INDEX.HTML - FOOTER-BREAK-----------------*/

.footer-break-bg-image {
  background: url("../images/index-header-video-mobile.png") no-repeat center
    center;
  background-size: cover;
  height: 250px;
  width: 100%;
  margin-bottom: 50px;
}

.footer-break-overlay {
  color: #fafafa;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 250px;
  float: left;
}

/*INDEX.HTML - FOOTER-----------------*/

footer {
  color: #fafafa;
}

.footer {
  padding: 20px 0;
  background: #252525;
}

footer ul {
  padding-left: 0;
  list-style: none;
}

.footer-text {
  color: black;
}

.footer-section {
  padding: 20px;
  margin-bottom: 40px;
}

.footer-section li a {
  color: #fbff1e;
}

.footer-section li a:hover {
  color: #ff4800;
}

.footer-section-title {
  margin-bottom: 20px;
}

.footer-copyright {
  background: #222;
  padding: 10px 0;
}

.footer-copyright p {
  color: #969696;
  margin: 2px 0 0;
}

ul.social-footer {
  margin: 0;
  padding: 0;
  width: auto;
}

ul.social-footer li {
  display: inline-block;
  padding: 0;
}

ul.social-footer li a {
  display: block;
  text-align: center;
  margin-right: 5px;
}

.social-image {
  height: 30px;
  width: 30px;
}

.social-image:hover {
  border: 1px solid white;
}

.footer-hr {
  background-color: white;
}

.footer-contact-text {
  color: white;
}
.footer-contact-text:hover {
  color: #fbff1e;
}





/*------------------------------------*\
  #WORK.HTML
\*------------------------------------*/

.portfolio-item-1 {
	width: 100%;
	height: 400px; 
  background: url("../images/apod-detailed.png") no-repeat center center; 
	background-size: contain; 
}





/*------------------------------------*\
  #COMPANY.HTML
\*------------------------------------*/

/*------------------------------------*\
  #CONTACT.HTML
\*------------------------------------*/

/*------------------------------------*\
  #MEDIA QUERIES
\*------------------------------------*/

@media (pointer: coarse) and (hover: none) {
  .header-index {
    background: url("../images/index-header-video-mobile.png") #000 no-repeat
      center center; 
  }

  .header-work {
    background: url("../images/work-header-video-mobile.jpg") #000 no-repeat;
      background-size: cover; 
  }

  .header-company {
    background: url("../images/company-header-video.jpg") #000 no-repeat;
    background-size: cover; 
  }

  .header-contact {
    background: url("../images/contact-header-video-mobile.png") #000 no-repeat;
    background-size: cover; 
  }

 header video {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .process-text {
    font-size: 0.9rem;
  }

  .timeline-badge {
    position: absolute;
    left: 0;
    width: 100px;
    height: 100px;
    margin-left: -200px;
  }

  .timeline-badge-final {
    position: absolute;
    left: -65px;
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 576px) {
  .process-text {
    font-size: 0.8rem;
  }

  .display-1 {
    font-size: 4rem;
  }

  .timeline-badge {
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: -150px;
  }

  .timeline-badge-final {
    position: absolute;
    left: -50px;
    width: 80px;
    height: 80px;
  }
}
